@{
    ViewBag.Title = "Home Page";
}

<div class="row-lg-12">
    <div class="row-lg-4">
        <div class="text-center">
            <img class="image-bg-fluid-height" src="~/Image/neverforgetlist.png" style="align-content:center; padding-left:2%;">
        </div>
    </div>
</div>
<div class="row-lg-12">
    <div class="text-center">
        <h2>Don't Forget!</h2>
        <p>Have you ever gone to the store and forgot why you went in the first place?</p>
        <p>Now there is an app that will make sure that you NEVER FORGET again!</p>
        <p>The Never Forget Shopping List is you everyday helper for when you are on the go.</p>
        <p>Never Forget again with Never Forget Shopping List!</p>
    </div>
</div>